/dbdoc
/grails
/login
/messages.properties
/org
/spring
/spring-security-core.properties
/spring-security-core_de.properties
/spring-security-core_fr.properties
/spring-security-core_it.properties
/spring-security-core_nb.properties
/spring-security-core_pt_BR.properties
/spring-security-core_ru.properties
/spring-security-core_sv.properties
/test
